body {
    margin: 0;
    padding: 0;
    background: rgb(26, 26, 26);
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    /* font-size: 64px; */
    font-weight: bold;
    color: royalblue;
    cursor: default;
    transition: 150ms font-size ease;
}

h1:hover {
    color: rgb(163, 203, 255);
    font-size: 80px;
}

header {
    background: #FFFFFF;
    width: 100vw;
    padding-block: 1.5em;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 2em;
    column-gap: 2.5em;
}

a, a:link, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: rgb(111, 0, 255);
    font-weight: bold;
}

.pagebody-container {

    margin-top: 10em;
    text-align: center;

}