body {
    background: rgb(26, 26, 26);
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 64px;
    font-weight: bold;

    color: royalblue;

    cursor: default;

    transition: 150ms font-size ease;

}

h1:hover {
    color: rgb(163, 203, 255);
    font-size: 80px;
}