* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(26, 26, 26);
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    /* font-size: 64px; */
    font-weight: bold;
    color: royalblue;
}


header {
    background: #FFFFFF;
    padding-block: 1.5em;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 2em;
    column-gap: 2.5em;
}

a, a:link, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: rgb(111, 0, 255);
    font-weight: bold;
}

.pagebody-container {

    min-height: 70vh;
    width: 100%;

    margin-top: 10em;
    text-align: center;

}

footer {

    background-color: #FFFFFF;

    width: 100%;
    padding-block: 2em;

    text-align: center;

}